<body>
  <footer>
  <section class="seccion_logo">
      <div><div><img class="imagen_logo" src="./assets/img/Logo_banner_footer.svg" alt="Logo"></div></div>
      <div class=""><button class="button button--large user-select-none cursor-pointer acomodo--boton">See our Case Studies</button></div>
  </section>
  <section class="seccion_contenido">
      <div class="seccion_contenido_espacio espacio--derecha">
          <div class="seccion_contenido_separacion">
              <div class="contenido_separar">
                  <h2 class="tamaño_texto">Resources</h2>
                  <div class="contenido_espacio">
                      <div class="alinear">
                          <a class="color--gris">Home</a>
                          <a class="color--gris">About</a>
                          <a class="color--gris">Contact</a>
                          <a class="color--gris">Blog</a>
                          <a class="color--gris">Blog Post</a>
                          <a class="color--gris">Pricing</a>
                          <a class="color--gris">Pricing Single</a>
                      </div>
                      <div class="alinear">
                          <a class="color--gris">Blog</a>
                          <a class="color--gris">Blog Post</a>
                          <a class="color--gris">Careers</a>
                          <a class="color--gris">why choose us</a>
                          <a class="color--gris">Case studies</a>
                      </div>
                  </div>
              </div>
              <div class="contenido_separar">
                  <h2 class="tamaño_texto">Utility Pages</h2>
                  <div class="alinear">
                      <a class="color--gris">Start here</a>
                      <a class="color--gris">Style guide</a>
                      <a class="color--gris">Password protected</a>
                      <a class="color--gris">404 Not found</a>
                      <a class="color--gris">Licenses</a>
                      <a class="color--gris">Changelog</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="seccion_contenido_espacio espacio--izquierda">
          <div class="izquierda--fondo">
              <div class="acomodar--izquierda">
                  <div><img class="boton_popular" src="./assets/img/boton_Popular.png" alt="Boton"></div>
                  <div class="seccion_contenido alineamiento">
                      <p class="color-blanco tamaño_texto">Startup $</p>
                      <h2 class="color-blanco numero_tamaño">25</h2>
                  </div>
                  <div><button class="button button--shadow user-select-none cursor-pointer boton--color">Choose Plan</button></div>
              </div>
              <div class="separar_parrafos">
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco">3 Social Set</p>
                  </div>
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco"><span class="color--azul">150 posts</span> per social</p>
                  </div>
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco">5 users</p>
                  </div>
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco">Phone <span class="color--azul">Support</span></p>
                  </div>
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco">Planning & publishing</p>
                  </div>
                  <div class="seccion_texto">
                      <div><img class="palomita" src="./assets/img/Vector_chulito.png" alt="imagen chulito"></div>
                      <p class="color-blanco">Analytics tools</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="seccion_contacto">
      <div><p class="texto_copyright">Copyright © Technologycal | Designed by <span class="grosor--texto">VictorFlow</span> Templates - Powered by <span class="grosor--texto">Webflow</span></p></div>
      <div class="contacto">
          <div><img class="icono--tamaño" src="./assets/img/Insta.svg" alt="icono Instagram"></div>
          <div><img class="icono--tamaño" src="./assets/img/Fb.svg" alt="icono Facebook"></div>
          <div><img class="icono--tamaño" src="./assets/img/Twiter.svg" alt="icono Twiter"></div>
          <div><img class="icono--tamaño" src="./assets/img/Pintrest.svg" alt="icono Pinterest"></div>
      </div>
  </section>
</footer>
</body>
