<body>
  <div>
    <section class="headboard-section">
      <div class="headboard">
        <div class="headboard__content">
            <div class="headboard__content-text">
                <h1 class="headboard__content-title">Making Social Media Marketing <br> Even More Efficient</h1>
                <div class="headboard__user">
                    <div class="headboard__user-img">
                        <img class="photo__user" src="/assets/img/user-photo-1.png" alt="">
                    </div>
                    <ul class="headboard__user-text">
                        <p>Caroline Parker</p>
                        <li>December 05, 2021</li>
                        <li>3 min read </li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
    </section>
  </div>
  <main>
    <div class="header__post">
        <img src="/assets/img/background-image-1.png" alt="">
    </div>
    <section class="post__content">
        <article class="post">
            <h1 class="post__title">
                Automated Google Search Ads Autopilot
            </h1>
            <p class="post__text text--color-gray">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum been the industry's standard dummy text
                ever since the 1500s, when an unknown printegalley of type and scrambled it to make a type specimen
                book. It has survived not only
                five centuries, but also the leap into electronic typesetting.
            </p>
            <p class="post__text text--color-gray">
                remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letrsheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.
            </p>
            <ul class="post__list">
                <li class="post__list-content text--color-gray"><span class="post__list-index">01</span> Listen to
                    what they say about you</li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">02</span> Randomised
                    words which don't look even slightly believable. </li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">03</span> Lorem Ipsum
                    generators on the Internet tend to repeat predefined chunks</li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">04</span> Automate
                    multiple scenarios and eliminate tedious tasks.</li>
            </ul>
            <p class="post__text text--color-gray">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum been the
                industry's standard dummy text ever
                since the 1500s, when an unknown printegalley of type and scrambled it to make a type specimen book.
            </p>
            <div class="post__img">
                <img src="/assets/img/background-image-2.png" alt="">
            </div>
        </article>
    </section>
    <section class="post__content">
        <article class="post">
            <h1 class="post__title">
                Detailed insights for your social media
            </h1>
            <p class="post__text text--color-gray">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum been the industry's standard dummy text
                ever since the 1500s, when an unknown printegalley of type and scrambled it to make a type specimen
                book. It has survived not only
                five centuries, but also the leap into electronic typesetting.
            </p>
            <p class="post__text text--color-gray">
                remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letrsheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.
            </p>
            <ul class="post__list">
                <li class="post__list-content text--color-gray"><span class="post__list-index">01</span> Listen to
                    what they say about you</li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">02</span> Randomised
                    words which don't look even slightly believable. </li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">03</span> Lorem Ipsum
                    generators on the Internet tend to repeat predefined chunks</li>
                <li class="post__list-content text--color-gray"><span class="post__list-index">04</span> Automate
                    multiple scenarios and eliminate tedious tasks.</li>
            </ul>
            <p class="post__text text--color-gray">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum been the
                industry's standard dummy text ever
                since the 1500s, when an unknown printegalley of type and scrambled it to make a type specimen book.
            </p>
            <div class="post__img-compuesto">
                <img class="post__img-background" src="/assets/img/background-rentagular-1.png" alt="">
                <div class="post__img-content">
                    <div class="post__img-comillas">
                        <img src="/assets/img/icon-comilla.svg" alt="">
                    </div>
                    <p class="post__img-text">
                        <span>W</span>hen an unknown printegalley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries,
                        but also the leap into electronic typesetting.
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section class="author-conteiner">
        <div class="author__header">
            <h2>
                What technology stack do we use at Technology?
            </h2>
            <p class="text--color-gray">
                It was popularised in the 1960s with the release of Letrsheets containing Lorem Ipsum passages, and
                more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <article class="author">
            <div class="author__info">
                <div class="author__skills">
                    <a class="button--tag user-select-none cursor-pointer" onclick="btAnimation()" id="tg">
                        <!--Modificadores button--tag button--emphasis button--emphasis-tag button--emphasis-small button--small button--large -->
                        Analyze
                    </a>
                    <a class="button--tag user-select-none cursor-pointer" onclick="btAnimation()" id="tg">
                        <!--Modificadores button--tag button--emphasis button--emphasis-tag button--emphasis-small button--small button--large -->
                        Marketing
                    </a>
                </div>
                <div class="author__networks">
                    <a class="author__networks-img"><img class="networks__img" src="/assets/img/Insta.svg"
                            alt="networks"></a>
                    <a class="author__networks-img"><img class="networks__img" src="/assets/img/Fb.svg"
                            alt="networks"></a>
                    <a class="author__networks-img"><img class="networks__img networks__img--gris"
                            src="/assets/img/twiter_blanco.svg" alt="networks"></a>
                    <a class="author__networks-img"><img class="networks__img" src="/assets/img/Pintrest.svg"
                            alt="networks"></a>
                </div>
            </div>
            <div class="author__data-container">
                <div class="author__data">
                    <div class="author__data-img">
                        <img src="/assets/img/user-photo-2.jpg" alt="">
                    </div>
                    <div class="author__data-info">
                        <div>
                            <h2 class="author__data-name">Caroline Parker</h2>
                            <p class="author__data-occupation">
                                Marketing Leader
                            </p>
                        </div>
                        <p class="author__data-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum been the industry's standard dummy.
                        </p>
                        <div class="author__networks">
                            <a class="author__networks-img"><img class="networks__img networks__img--black"
                                    src="/assets/img/Insta.svg" alt="networks"></a>
                            <a class="author__networks-img"><img class="networks__img networks__img--black"
                                    src="/assets/img/Fb.svg" alt="networks"></a>
                            <a class="author__networks-img"><img class="networks__img networks__img--black"
                                    src="/assets/img/twiter_blanco.svg" alt="networks"></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
  </main>
</body>
