*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 0.5vw;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(168, 35, 254);
  border-radius: 0.5vw;
}
